/********************  karaKrisz formating start **********************/

section.sec-our-food.bg2.p-t-65.p-b-65 {
    display: none;
}

.sec-partner.bg-img1.p-t-30.p-b-30 {
    display: none;
}


/********************  vélemények **********************/

section.sec-testimonials.bg0.p-t-90.p-b-90 {
    display: none;
}


/********************  ezt majd vissza kell tenni **********************/

.d-flex {
    display: flex;
}

.karaKrisz--link-formating {
    max-width: max-content;
    padding: 0 20px;
}

.karaKrisz--link-formating:hover {
    border: 1px solid #ffa414;
}

.btn-primary {
    background-color: #F02D3A;
    padding: 15px;
    border: 0;
    margin: 25px 0 0 0;
}

.btn-primary:hover {
    background-color: #333;
    color: white;
    border: 1px solid #F02D3A;
}

.btn.btn-danger.float-right {
    position: relative;
    bottom: 55px;
}

span.txt-center.trans-04 {
    display: none;
}

section.sec-team.bg2.p-t-90.p-b-55 {
    display: none;
}


/********************  ezt majd vissza kell tenni itt dolgozok **********************/


/********************  Header content start **********************/

.sub-menu,
.sub-menu-m,
.arrow-main-menu-m {
    display: none !important;
}

.header-v1 .main-menu>li {
    margin: 20px 20px 20px 40px !important;
}

.tab01 .nav-link.active {
    color: #ffa414 !important;
    font-size: 18px !important;
}


/********************  Header content end **********************/


/********************  Menu content start **********************/

.block1-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/********************  Menu content end **********************/


/********************  slider1 content start **********************/

.block1-txt a {
    font-size: 15px !important;
}


/********************  slider1 content end **********************/


/********************  Book a table content start **********************/

.sec-booking__div {
    display: none;
}


/********************  Book a table content end **********************/


/********************  Sec gallery content start **********************/

.sec-gallery__img {
    height: 360px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}


/********************  Sec gallery  content end **********************/


/********************  Sec event gallery  content start **********************/

.m2-txt1 {
    color: #333 !important;
}


/********************  Sec event content end **********************/


/********************  Footer content start **********************/

.footer__link__img {
    height: 200px;
    width: 180px;
}

.footer__contact-link {
    color: #666;
}

.footer_copyright-link {
    color: #ffa414;
    font-size: 16px;
}

.footer__contact-link--c-white {
    color: white !important;
}


/********************  Footer content end **********************/


/********************  Admin content start **********************/

.admin-section-content {
    background-color: #333;
    text-align: center;
    padding: 200px 0;
}


/********************  Admin content end **********************/


/********************  Weekly menu recording content start **********************/

.food_options__alert {
    margin: -60px 0 40px 0;
}

.food_options__alert__p {
    font-family: 'Montserrat-SemiBold';
}

.food_options.text-center {
    padding: 200px 0;
    background: #333;
}

.food_options h2 {
    background-color: #ffa414;
    color: white;
    padding: 30px 10px;
    margin: 0 0 100px 0;
}

.food_options label {
    font-family: "Josefin Sans", sans-serif;
    color: #F4EDED;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.form-group input {
    top: 0;
    height: 65px;
    width: 100%;
    padding: 0 53px;
    box-sizing: border-box;
    z-index: 3;
    color: #1a6fc4;
    font-size: 17px;
    transition: top 0.1s ease-in-out;
    margin: 0 0 40px 0;
}

.form-group input::placeholder {
    color: rgba(0, 0, 0, 0);
}

.food_options-ul {
    border: 0;
    border-bottom: 1px solid #F4EDED;
}

.food_options-ul>li>a {
    background-color: #ffa414;
    color: #fff;
    text-decoration-line: none;
    position: relative;
    display: block;
    padding: 20px;
    width: max-content;
    margin-right: 20px;
}

.food_options__elem__link--mr-formating {
    margin-right: 5px !important;
}

.food_options-ul>li>a:hover {
    background-color: white;
    color: #ffa414;
    border: 1px solid #ffa414;
    border-bottom: 0;
}

.food_options-ul>li>a:focus {
    background-color: white;
    color: #ffa414;
    border: 1px solid #ffa414;
    border-bottom: 0;
}

.tab-content {
    padding: 30px;
}

.modal-header {
    background-color: #ffa414;
    color: white;
}

.modal-body h3 {
    margin-bottom: 30px;
    font-size: 18px;
}

.food-delete-box__btn {
    background: red;
    color: white;
    margin: 10px 0 15px 0;
}

.inserted-alert-success {
    display: none;
}

.food-delete-box__btn {
    background: red;
    color: white;
    margin: 10px 0 15px 0;
}

.food_options__img-append-box__form__input {
    width: 300px;
    margin: auto;
    margin-bottom: 80px;
}


/********************  Weekly menu recording content end **********************/


/********************  Title page (etlap) content start **********************/

.l1-txt2 {
    font-size: 30px;
}

.sec-menu__ul__li__div__span__strong {
    font-size: 20px;
}


/********************  Title page (etlap) content end **********************/


/********************  Title page (contact) content start **********************/

.map__iframe {
    width: 100%;
    height: 500px;
}

.map--style {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}


/********************  Title page (contact) content start **********************/

section.sec-booking.bg-img1.p-b-120.p-l-15.p-r-15 {
    padding: 0;
}


/********************  sec about content start **********************/

.sec-about__link {
    color: #ffa414;
    font-size: 16px;
    margin-left: 10px;
}


/********************  footer content start **********************/

.footer-grid-bottom img {
    position: fixed;
    bottom: 0;
    right: 0;
}


/********************  events content start **********************/

.events__p--formating {
    color: #ffa414;
    font-size: 18px;
    padding: 0;
    margin: 15px 0;
}

.events__h3--formating {
    font-size: 20px;
    margin-bottom: 50px;
}


/********************  Media start **********************/

@media screen and (max-width: 767px) {
    .food_options.text-center {
        padding: 100px 0;
    }
    .food_options-ul {
        flex-direction: column;
    }
    .food_options-ul>li>a {
        width: 100%;
        margin-bottom: 20px;
    }
    .next-slick4,
    .next-slick2 {
        right: -16px !important;
    }
    .prev-slick4,
    .prev-slick2 {
        left: -15px !important;
    }
    .l1-txt2 {
        font-size: 22px;
    }
    .footer__link__img {
        height: 150px;
        width: 140px;
        margin: -100px 0 0 0;
    }
    .food_options__alert {
        margin: -60px 0 40px 0;
        padding: 35px 0;
    }
    .food_options__alert__p {
        font-family: 'Montserrat-SemiBold';
        font-size: 18px;
    }
    .d-flex {
        flex-direction: column;
    }
    .admin-section-content {
        padding: 70px 0 20px 0;
    }
    .flex-c-m.s1-txt1.size6.bg1.how-btn1.trans-04.m-lr-auto.karaKrisz--link-formating {
        margin-bottom: 50px;
    }
    .footer-grid-bottom img {
        width: 50%;
    }
}


/********************  Media end **********************/


/********************  karaKrisz formating end **********************/